@import "./styles/fonts.css";

* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  background-color: #fff;
  box-sizing: border-box;
  color: white;
  font-family: "openSans", "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  position: relative;
  width: 100vw;
}

h2 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  margin: 0;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input:focus,
input:active,
a:focus,
a:active,
button:focus,
button:active {
  outline: none;
}

/* Forms */
.globalInput {
  display: block;
  margin: 0;
  padding: 7px 10px;

  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000;
  font-family: inherit;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  outline: none;
  width: 100%;
  transition: border-color ease 200ms;
}

.globalInput:focus {
  border-color: #9ea4b0;
  transition: border-color ease 200ms;
}

.globalLabel {
  display: block;
  margin: 20px auto 0;
  position: relative;

  color: var(--primary-font-color);
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.2px;
}

.globalButton {
  display: block;
  margin: 30px auto 0;
  padding: 5px;

  background-color: var(--plotly-blue);
  border: 1px solid transparent;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  width: 100%;
  transition: background-color ease 200ms;
}

.globalButton:focus {
  background-color: var(--dark-plotly-blue);
  transition: background-color ease 200ms;
}

.globalButton:disabled {
  background-color: #fff;
  border: 1px solid #dce1e4;
  color: #a0aab1;
  cursor: default;
}
