@import '../../variables.css';

.uploadBtn:hover,
.flyoutRadio:hover,
.flyoutBtnPublish:hover,
.flyoutClose:hover {
  cursor: pointer;
}

.errorMessage {
  margin: 0 -20px 10px;
  padding: 16px 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background-color: #ffffeb;
  box-shadow: inset 0px 2px 4px rgba(153, 153, 130, 0.15);
  border-top: 1px solid rgba(153, 153, 130, 0.25);
  border-bottom: 1px solid rgba(153, 153, 130, 0.15);
  color: var(--primary-font-color);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1.3;
}

.errorMessageIcon {
  margin-right: 12px;

  color: var(--warning);
  font-size: 16px;
}

.modalCloseBtn {
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
}

.modalCloseBtn i {
  font-size: 24px;
  color: var(--plotly-blue);
  line-height: 16px;
}

.upload {
  position: absolute;
  top: 7px;
  left: 20px;
  z-index: 2000;
}

.uploadBtn {
  background: none;
  border: 0;
  box-shadow: none;
  color: var(--plotly-blue);
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 0.2em;
  line-height: 1.9;
  outline: 0;
  padding: 0 10px;
  text-transform: uppercase;
}

.uploadBtn:disabled {
  color: #a0aab1;
}

.uploadIcon {
  display: block;
  font-size: 24px;
  margin: 0 auto;
}

.flyout {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  box-shadow: var(--select-list-shadow);
  color: var(--primary-font-color);
  font-size: 12px;
  line-height: 1.8;
  min-width: 280px;
  padding: 20px;

  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

.flyoutHeading {
  color: #000;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 16px;
  padding: 0;
}

.flyoutLabel {
  color: var(--primary-font-color);
  display: block;
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 24px;
}

.flyoutRadioHeading {
  color: var(--primary-font-color);
  display: block;
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 4px;
}

.flyoutRadio {
  color: var(--secondary-font-color);
  display: block;
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 8px;
}

.flyoutInput {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--secondary-border-color);
  border-radius: 4px;
  color: var(--primary-font-color);
  display: block;
  font-family: "openSans", "Open Sans", sans-serif;
  font-size: 14px;
  height: 30px;
  line-height: 1;
  margin: 0;
  padding: 0 8px;
  width: 200px;
}

.flyoutBtnPublish {
  background: none;
  border: 0;
  box-shadow: none;
  border-radius: 15px;
  background-color: var(--plotly-blue);
  color: #fff;
  display: inline-block;
  font-family: "openSans", "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 30px;
  outline: 0;
  letter-spacing: 0.09em;
  line-height: 1;
  margin: 20px 0 0;
  padding: 0 32px;
}

.flyoutClose {
  background: none;
  border: 0;
  box-shadow: none;
  color: var(--plotly-blue);
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  outline: none;
  margin: 0 0 0 24px;
  padding: 0;
}

.shareLink {
  color: var(--dark-plotly-blue);
  text-decoration: none;
}

.shareLink:hover {
  color: var(--plotly-blue);
}

.shareLinkIcon {
  margin-left: 5px;

  white-space: nowrap;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.disabled {
  color: #999;
  cursor: pointer;
}

.syncHeading {
  display: block;
  color: var(--tertiary-font-color);
}

.syncStatus {
  margin: 0;
  padding: 3px 0;

  color: var(--secondary-font-color);
  font-size: 12px;
  line-height: 1.2;
  text-align: left;
  transition: all ease 200ms;
}
